.sidebar-brand img {
  width: 90%;
}

#sticky #accordionSidebar {
  height: 100vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

#sticky #accordionSidebar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.navbar-nav {
  height: 100vh !important;
  overflow-y: scroll;
}