<div class="row" id="quickQuotationTravel">
  <div class="col-xl-12">
    <div class="page-header">
      <h4 class="all-caps">
        <span class="fa-stack fa-md">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-car fa-stack-1x fa-inverse"></i>
        </span>
        {{pageLabel}}
      </h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-lg-12">
    <img class="product-img-banner" src="./assets/images/banner-travel.jpg" alt="credits to freepik @stories" />
  </div>

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="quoteForm" class="quote-form">
          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Travel Itinerary</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['currency'].invalid 
                    && (quoteForm.controls['currency'].dirty 
                    || quoteForm.controls['currency'].touched)}">
                    <label for="currency">Currency</label>
                    <select class="custom-select mr-sm-2 required" formControlName="currency"
                      [(ngModel)]="travelDetails.currency"
                      [attr.disabled]="editMode && LOV.currencyLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let currency of LOV.currencyLOV" [ngValue]="currency.value">{{ currency.name }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['currency'].errors?.required">
                      * currency is required
                    </p>
                  </div>
                </div>

                <div class="col-md-5 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['country'].invalid 
                    && (quoteForm.controls['country'].dirty 
                    || quoteForm.controls['country'].touched)}">
                    <label for="currency">Itinerary</label>
                    <ng-select [items]="LOV.countryLOV" bindLabel="name" placeholder="Select Country to visit"
                      appendTo="body" formControlName="country" multiple="true" [(ngModel)]="travelDetails.country"
                      [readonly]="!editMode">
                    </ng-select>
                    <p class="form-error" *ngIf="quoteForm.controls['country'].errors?.required">
                      * country is required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>General Information</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['travelPackage'].invalid 
                    && (quoteForm.controls['travelPackage'].dirty 
                    || quoteForm.controls['travelPackage'].touched)}">
                    <label for="travelPackage">Travel Package</label>
                    <select class="custom-select mr-sm-2 required" formControlName="travelPackage"
                      [(ngModel)]="travelDetails.travelPackage"
                      [attr.disabled]="true">
                      <option selected></option>
                      <option *ngFor="let travelPackage of LOV.travelPackageLOV" [ngValue]="travelPackage.value">
                        {{ travelPackage.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['travelPackage'].errors?.required">
                      * travel package is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['travelType'].invalid 
                    && (quoteForm.controls['travelType'].dirty 
                    || quoteForm.controls['travelType'].touched)}">
                    <label for="travelType">Travel Type</label>
                    <select class="custom-select mr-sm-2 required" formControlName="travelType"
                      [(ngModel)]="travelDetails.travelType"
                      [attr.disabled]="true">
                      <option value="D">Domestic</option>
                      <option value="I">International</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['travelType'].errors?.required">
                      * travel type is required
                    </p>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['startDate'].invalid 
                    && (quoteForm.controls['startDate'].dirty 
                    || quoteForm.controls['startDate'].touched)}">
                    <label for="startDate">Start Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="mindate"
                      formControlName="startDate" [(ngModel)]="travelDetails.startDate" bsDatepicker
                      [attr.disabled]="editMode ? null : true">
                    <p class="form-error" *ngIf="quoteForm.controls['startDate'].errors?.required">
                      * start date is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['endDate'].invalid 
                    && (quoteForm.controls['endDate'].dirty 
                    || quoteForm.controls['endDate'].touched)}">
                    <label for="endDate">End Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [minDate]="endDateMinDate"
                      formControlName="endDate" [(ngModel)]="travelDetails.endDate" bsDatepicker
                      [attr.disabled]="editMode && enableEndDate ? null : ''">
                    <p class="form-error" *ngIf="quoteForm.controls['endDate'].errors?.required">
                      * end date is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['noOfDays'].invalid 
                    && (quoteForm.controls['noOfDays'].dirty 
                    || quoteForm.controls['noOfDays'].touched)}">
                    <label for="noOfDays">No. of Days</label>
                    <input class="form-control required" id="noOfDays" formControlName="noOfDays"
                      [(ngModel)]="travelDetails.noOfDays" [attr.disabled]="true">
                    <p class="form-error" *ngIf="quoteForm.controls['noOfDays'].errors?.required">
                      * number of days is required
                    </p>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-sm-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['completeItinerary'].invalid 
                    && (quoteForm.controls['completeItinerary'].dirty 
                    || quoteForm.controls['completeItinerary'].touched)}">
                    <label for="completeItinerary">Complete Itinerary</label>
                    <input type="text" formControlName="completeItinerary" class="form-control required"
                      placeholder="ex. Manila-Japan-China-Manila"
                      [(ngModel)]="travelDetails.completeItinerary"
                      [attr.disabled]="editMode ? null : true">
                    <p class="form-error" *ngIf="quoteForm.controls['completeItinerary'].errors?.required">
                      * complete itinerary is required
                    </p>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['purposeOfTrip'].invalid 
                    && (quoteForm.controls['purposeOfTrip'].dirty 
                    || quoteForm.controls['purposeOfTrip'].touched)}">
                    <label for="purposeOfTrip">Purpose of Trip</label>
                    <select class="custom-select mr-sm-2 required" formControlName="purposeOfTrip"
                      [(ngModel)]="travelDetails.purposeOfTrip"
                      [attr.disabled]="editMode && LOV.purposeOfTrip?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let purposeOfTrip of LOV.purposeOfTripLOV" [ngValue]="purposeOfTrip.name">
                        {{ purposeOfTrip.value }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['purposeOfTrip'].errors?.required">
                      * purpose of trip is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cbOneTripOnly"
                        [(ngModel)]="travelDetails.cbOneTripOnly"
                        formControlName="cbOneTripOnly"
                        [attr.disabled]="true">
                      <label class="form-check-label" for="cbOneTripOnly">
                        One Trip Only?
                      </label>
                    </div>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="cbWithCruise"
                        [(ngModel)]="travelDetails.cbWithCruise"
                        formControlName="cbWithCruise"
                        [attr.disabled]="editMode ? null : true">
                      <label class="form-check-label" for="cbWithCruise">
                        With Cruise?
                      </label>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <app-group-policy
            #appGroupPolicy
            [subline]="travelDetails.subline"
            [prevDetails]="prevTravelDetails"
            [groupPolicy]="groupPolicy"
            [editMode]="editMode"
            [showExpiring]="false"
            [(changedValues)]="changedValues"
            [loadQuotation]="triggerCounter">
          </app-group-policy>

          <app-policy-holder
            #appPolicyHolder
            [title]="'Policy Holder Information'"
            [showCreateBtn]="true"
            [details]="travelDetails"
            [(policyHolder)]="policyHolder"
            [isIssuance]="isIssuance"
            [editMode]="editMode"
            [type]="'primary'"
            [optional]="false"
            [loadQuotation]="triggerCounter">
          </app-policy-holder>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Travellers</strong>
            </div>
            <div class="card-body">

              <div formArrayName="travellers">
                <div *ngFor="let traveller of quoteForm.get('travellers')['controls']; let i=index">
                  <div [formGroupName]="i" class="card traveller-card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4 col-sm-6">
                          <div class="form-group" [ngClass]="{'input-error': traveller.controls['completeName'].invalid 
                              && (traveller.controls['completeName'].dirty 
                              || traveller.controls['completeName'].touched)}">
                            <label for="completeName">Complete Name</label>
                            <input type="text" formControlName="completeName" class="form-control required"
                              [attr.disabled]="editMode ? null : true">
                            <p class="form-error" *ngIf="traveller.controls['completeName'].errors?.required">
                              * complete name is required
                            </p>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                          <div class="form-group" [ngClass]="{'input-error': traveller.controls['birthDate'].invalid 
                          && (traveller.controls['birthDate'].dirty 
                          || traveller.controls['birthDate'].touched)}">
                            <label for="birthDate">Birthdate</label>
                            <input type="text" placeholder="Datepicker" class="form-control required"
                              [maxDate]="mindate" formControlName="birthDate" bsDatepicker
                              [attr.disabled]="editMode ? null : true">
                            <p class="form-error" *ngIf="traveller.controls['birthDate'].errors?.required">
                              * birthdate is required
                            </p>
                          </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                          <div class="form-group" [ngClass]="{'input-error': traveller.controls['relationship'].invalid 
                          && (traveller.controls['relationship'].dirty 
                          || traveller.controls['relationship'].touched)}">
                            <label for="relationship">Relationship</label>
                            <select class="custom-select mr-sm-2 required" formControlName="relationship"
                              [attr.disabled]="editMode && LOV.relationshipLOV?.length ? null : true">
                              <option *ngFor="let relationship of LOV.relationshipLOV" [ngValue]="relationship.value">
                                {{ relationship.name }}</option>
                            </select>
                            <p class="form-error" *ngIf="traveller.controls['relationship'].errors?.required">
                              * relationship is required
                            </p>
                          </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group" [ngClass]="{'input-error': traveller.controls['passportNumber'].invalid 
                          && (traveller.controls['passportNumber'].dirty 
                          || traveller.controls['passportNumber'].touched)}">
                            <label for="passportNumber">Passport Number</label>
                            <input type="text" formControlName="passportNumber" class="form-control required"
                              [attr.disabled]="editMode ? null : true">
                            <p class="form-error" *ngIf="traveller.controls['passportNumber'].errors?.required">
                              * passport number is required
                            </p>
                          </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                          <div class="form-group" [ngClass]="{'input-error': traveller.controls['physicianName'].invalid 
                          && (traveller.controls['physicianName'].dirty 
                          || traveller.controls['physicianName'].touched)}">
                            <label for="physicianName">Usual Physician Name and Number</label>
                            <input type="text" formControlName="physicianName" class="form-control required"
                              [attr.disabled]="editMode ? null : true">
                            <p class="form-error" *ngIf="traveller.controls['physicianName'].errors?.required">
                              * physician name is required
                            </p>
                          </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-lg-12">
                          <div class="btn-group" *ngIf="i > 0">
                            <button class="btn btn-primary" (click)="removeTraveller(i)">Remove</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="btn-group">
                <button [disabled]="!editMode || quoteForm.get('travellers').status !== 'VALID'" type="button"
                  (click)="addTraveller()" class="btn btn-primary">Add Traveller</button>
              </div>

            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header optional">
              <strong>Additional Policy Information</strong>
            </div>
            <div class="card-body">
              <div class="row">

                <div class="col-lg-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cbSportsEquipment"
                      formControlName="cbSportsEquipment" [(ngModel)]="travelDetails.cbSportsEquipment"
                      [attr.disabled]="editMode ? null : true">
                    <label class="form-check-label" for="cbSportsEquipment">
                      will bring sports equipment?
                    </label>
                  </div>
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['sportsEquipment'].invalid 
                    && (quoteForm.controls['sportsEquipment'].dirty 
                    || quoteForm.controls['sportsEquipment'].touched)}">
                    <textarea class="form-control required"
                      [attr.disabled]="editMode && travelDetails.cbSportsEquipment ? null : ''" type="text" id="sportsEquipment"
                      formControlName="sportsEquipment" [(ngModel)]="travelDetails.sportsEquipment"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['sportsEquipment'].errors?.required">
                      * please indicate sport equipment/s
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cbHazardousSports"
                      formControlName="cbHazardousSports" [(ngModel)]="travelDetails.cbHazardousSports"
                      [attr.disabled]="editMode ? null : true">
                    <label class="form-check-label" for="cbHazardousSports">
                      will do hazardous sports?
                    </label>
                  </div>
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['hazardousSports'].invalid 
                    && (quoteForm.controls['hazardousSports'].dirty 
                    || quoteForm.controls['hazardousSports'].touched)}">
                    <textarea class="form-control required"
                      [attr.disabled]="editMode && travelDetails.cbHazardousSports ? null : ''" type="text" id="hazardousSports"
                      formControlName="hazardousSports" [(ngModel)]="travelDetails.hazardousSports"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['hazardousSports'].errors?.required">
                      * please indicate the sport
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Coverages</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Coverage Option</h6>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['travelInsurance'].invalid 
                      && (quoteForm.controls['travelInsurance'].dirty 
                      || quoteForm.controls['travelInsurance'].touched)}">
                    <label for="travelInsurance">Travel Insurance Coverage</label>
                    <select class="custom-select mr-sm-2 required" formControlName="travelInsurance"
                      [(ngModel)]="travelDetails.travelInsurance"
                      [attr.disabled]="true">
                      <option value="I">Individual</option>
                      <option value="F">Family</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['travelInsurance'].errors?.required">
                      * travel insurance coverage is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['optionPack'].invalid 
                        && (quoteForm.controls['optionPack'].dirty 
                        || quoteForm.controls['optionPack'].touched)}">
                    <label for="optionPack">Coverage Option Pack</label>
                    <select class="custom-select mr-sm-2 required" formControlName="optionPack"
                      [(ngModel)]="travelDetails.optionPack"
                      [attr.disabled]="editMode && LOV.optionPackLOV?.length ? null : true">
                      <option *ngFor="let optionPack of LOV.optionPackLOV" [ngValue]="optionPack.value">
                        {{ optionPack.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['optionPack'].errors?.required">
                      * coverage option pack is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['medicalExpenses'].invalid 
                          && (quoteForm.controls['medicalExpenses'].dirty 
                          || quoteForm.controls['medicalExpenses'].touched)}">
                    <label for="medicalExpenses">Medical Expenses Coverage</label>
                    <select class="custom-select mr-sm-2 required" formControlName="medicalExpenses"
                      [(ngModel)]="travelDetails.medicalExpenses"
                      [attr.disabled]="editMode && LOV.medicalExpensesLOV?.length ? null : true">
                      <option *ngFor="let medicalExpenses of LOV.medicalExpensesLOV" [ngValue]="medicalExpenses.value">
                        {{ medicalExpenses.name }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['medicalExpenses'].errors?.required">
                      * medical expenses coverage is required
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="btn-group" role="group">
            <button [disabled]="quoteForm.pristine || quoteForm.invalid" type="button" class="btn btn-primary"
              (click)="issueQuote(travelDetails, groupPolicy)">Issue
              Qoute</button>
            <button [disabled]="true" type="button" class="btn btn-primary">Print Qoute</button>
            <button [disabled]="true" type="button" class="btn btn-primary">Proceed to Issuance</button>
          </div>
          <!-- .btn-group -->

          <div class="clearfix"></div>
        </form>
        <!-- .quick-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quickQuotationTravel -->
