<!-- Content Row -->
<div class="row">
  <!-- Forex Exchange -->
  <div class="col-xl-4 col-md-12 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Forex Exchange</div>
            <div class="row">
              <div class="col-6">
                <h4 class="all-caps">
                  <span class="fa-stack fa-md">
                    <i class="fa fa-circle fa-stack-2x dollar"></i>
                    <i class="fa fa-dollar-sign fa-stack-1x fa-inverse"></i>
                  </span>
                  {{forex.dollar | currency:'PHP': 'symbol-narrow'}}
                </h4>
              </div>
              <div class="col-6">
                <h4 class="all-caps">
                  <span class="fa-stack fa-md">
                    <i class="fa fa-circle fa-stack-2x euro"></i>
                    <i class="fa fa-euro-sign fa-stack-1x fa-inverse"></i>
                  </span>
                  {{forex.euro | currency:'PHP': 'symbol-narrow'}}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body blur">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Collected Premium
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">912,215,000.00</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-coins fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body blur">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Active Policies</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">215,000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-8">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Agent Production</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas class="blur" id="myBarChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
