<div class="row" id="quotationHome">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Quotation - Home</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <form [formGroup]="quoteForm" class="regular-quote-form">
          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Risk Details</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subline'].invalid 
                    && (quoteForm.controls['subline'].dirty 
                    || quoteForm.controls['subline'].touched)}">
                    <label for="subline">Business Line</label>
                    <select class="custom-select mr-sm-2 required" formControlName="subline"
                      [(ngModel)]="homeDetails.subline">
                      <option *ngFor="let subline of LOV.sublineLOV" [ngValue]="subline.COD_RAMO">
                        {{ subline.NOM_RAMO }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['subline'].errors?.required">
                      * business line is required
                    </p>
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['currency'].invalid 
                  && (quoteForm.controls['currency'].dirty 
                  || quoteForm.controls['currency'].touched)}">
                    <label for="currency">Currency</label>
                    <select class="custom-select mr-sm-2 required" formControlName="currency"
                      [(ngModel)]="homeDetails.currency"
                      [attr.disabled]="true">
                      <option selected></option>
                      <option *ngFor="let currency of LOV.currencyLOV" [ngValue]="currency.COD_MON">{{ currency.NOM_MON }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['currency'].errors?.required">
                      * currency is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Location of Risk</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['buildingNumber'].invalid 
                  && (quoteForm.controls['buildingNumber'].dirty 
                  || quoteForm.controls['buildingNumber'].touched)}">
                    <label for="buildingNumber">House/Building Number</label>
                    <input type="text" formControlName="buildingNumber" class="form-control"
                      [(ngModel)]="homeDetails.buildingNumber">
                    <p class="form-error" *ngIf="quoteForm.controls['buildingNumber'].errors?.required">
                      * building number is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subdivision'].invalid 
                  && (quoteForm.controls['subdivision'].dirty 
                  || quoteForm.controls['subdivision'].touched)}">
                    <label for="subdivision">Village/Subdivision</label>
                    <input type="text" formControlName="subdivision" class="form-control"
                      [(ngModel)]="homeDetails.subdivision">
                    <p class="form-error" *ngIf="quoteForm.controls['subdivision'].errors?.required">
                      * subdivision is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['buildingName'].invalid 
                  && (quoteForm.controls['buildingName'].dirty 
                  || quoteForm.controls['buildingName'].touched)}">
                    <label for="buildingName">Building Name</label>
                    <input type="text" formControlName="buildingName" class="form-control"
                      [(ngModel)]="homeDetails.buildingName">
                    <p class="form-error" *ngIf="quoteForm.controls['buildingName'].errors?.required">
                      * building name is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['streetName'].invalid 
                  && (quoteForm.controls['streetName'].dirty 
                  || quoteForm.controls['streetName'].touched)}">
                    <label for="streetName">Street Name</label>
                    <input type="text" formControlName="streetName" class="form-control"
                      [(ngModel)]="homeDetails.streetName">
                    <p class="form-error" *ngIf="quoteForm.controls['streetName'].errors?.required">
                      * street name is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['barangay'].invalid 
                  && (quoteForm.controls['barangay'].dirty 
                  || quoteForm.controls['barangay'].touched)}">
                    <label for="barangay">Barangay</label>
                    <input type="text" formControlName="barangay" class="form-control"
                      [(ngModel)]="homeDetails.barangay">
                    <p class="form-error" *ngIf="quoteForm.controls['barangay'].errors?.required">
                      * barangay is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['region'].invalid 
                  && (quoteForm.controls['region'].dirty 
                  || quoteForm.controls['region'].touched)}">
                    <label for="region">Region</label>
                    <select class="custom-select mr-sm-2 required" formControlName="region"
                      [(ngModel)]="homeDetails.region"
                      (change)="getProvince()">
                      <option selected></option>
                      <option *ngFor="let region of LOV.regionLOV" [ngValue]="region.COD_ESTADO">
                        {{ region.NOM_ESTADO }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['region'].errors?.required">
                      * region is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['province'].invalid 
                  && (quoteForm.controls['province'].dirty 
                  || quoteForm.controls['province'].touched)}">
                    <label for="province">Province</label>
                    <select class="custom-select mr-sm-2 required" formControlName="province"
                      [(ngModel)]="homeDetails.province"
                      (change)="getCity()">
                      <option selected></option>
                      <option *ngFor="let province of LOV.provinceLOV" [ngValue]="province.COD_PROV">
                        {{ province.NOM_PROV }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['province'].errors?.required">
                      * province is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['city'].invalid 
                  && (quoteForm.controls['city'].dirty 
                  || quoteForm.controls['city'].touched)}">
                    <label for="city">City</label>
                    <select class="custom-select mr-sm-2 required" formControlName="city"
                      [(ngModel)]="homeDetails.city">
                      <option selected></option>
                      <option *ngFor="let city of LOV.cityLOV" [ngValue]="city.COD_LOCALIDAD">
                        {{ city.NOM_LOCALIDAD }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['city'].errors?.required">
                      * city is required
                    </p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Building / Content Details</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Building/Content</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['buildingCapital'].invalid 
                  && (quoteForm.controls['buildingCapital'].dirty 
                  || quoteForm.controls['buildingCapital'].touched)}">
                    <label for="buildingCapital">Building Capital</label>
                    <input type="number" formControlName="buildingCapital" class="form-control required"
                      [(ngModel)]="homeDetails.buildingCapital">
                    <p class="form-error" *ngIf="quoteForm.controls['buildingCapital'].errors?.required">
                      * building capital is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['contentValue'].invalid 
                  && (quoteForm.controls['contentValue'].dirty 
                  || quoteForm.controls['contentValue'].touched)}">
                    <label for="contentValue">Content Value</label>
                    <input type="number" formControlName="contentValue" class="form-control required"
                      [(ngModel)]="homeDetails.contentValue">
                    <p class="form-error" *ngIf="quoteForm.controls['contentValue'].errors?.required">
                      * content value is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Additional Details</h6>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['constructionOfBuilding'].invalid 
                  && (quoteForm.controls['constructionOfBuilding'].dirty 
                  || quoteForm.controls['constructionOfBuilding'].touched)}">
                    <label for="constructionOfBuilding">Construction of Building</label>
                    <textarea type="text" formControlName="constructionOfBuilding" class="form-control required"
                      [(ngModel)]="homeDetails.constructionOfBuilding"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['constructionOfBuilding'].errors?.required">
                      * construction of building required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['occupancyOfBuilding'].invalid 
                  && (quoteForm.controls['occupancyOfBuilding'].dirty 
                  || quoteForm.controls['occupancyOfBuilding'].touched)}">
                    <label for="occupancyOfBuilding">Occupancy of Building</label>
                    <textarea type="text" formControlName="occupancyOfBuilding" class="form-control required"
                      [(ngModel)]="homeDetails.occupancyOfBuilding"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['occupancyOfBuilding'].errors?.required">
                      * occupancy of building is required
                    </p>
                  </div>
                </div>

                <div class="form-divider"></div>
                <div class="col-xl-12">
                  <h6>Boundaries</h6>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['front'].invalid 
                  && (quoteForm.controls['front'].dirty 
                  || quoteForm.controls['front'].touched)}">
                    <label for="front">Front</label>
                    <textarea type="text" formControlName="front" class="form-control required"
                      [(ngModel)]="homeDetails.front"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['front'].errors?.required">
                      * front is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['right'].invalid 
                  && (quoteForm.controls['right'].dirty 
                  || quoteForm.controls['right'].touched)}">
                    <label for="right">Right</label>
                    <textarea type="text" formControlName="right" class="form-control required"
                      [(ngModel)]="homeDetails.right"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['right'].errors?.required">
                      * right is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['left'].invalid 
                  && (quoteForm.controls['left'].dirty 
                  || quoteForm.controls['left'].touched)}">
                    <label for="left">Left</label>
                    <textarea type="text" formControlName="left" class="form-control required"
                      [(ngModel)]="homeDetails.left"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['left'].errors?.required">
                      * left is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['rear'].invalid 
                  && (quoteForm.controls['rear'].dirty 
                  || quoteForm.controls['rear'].touched)}">
                    <label for="rear">Rear</label>
                    <textarea type="text" formControlName="rear" class="form-control required"
                      [(ngModel)]="homeDetails.rear"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['rear'].errors?.required">
                      * rear is required
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header d-flex justify-content-between optional"
              (click)="showImprovement = !showImprovement"
              matTooltip="click to show/hide improvement details">
              <strong>Improvement Details</strong>
              <div class="dropdown no-arrow">
                <i class="fas fa-angle-double-down fa-sm fa-fw text-gray-400"></i>
              </div>
            </div>
            <div class="card-body" *ngIf="showImprovement">
              <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="improvement">Improvement</label>
                    <input type="number" formControlName="improvement" class="form-control required"
                      [(ngModel)]="homeDetails.improvement">
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header d-flex justify-content-between optional"
              (click)="showRelatedStructure = !showRelatedStructure"
              matTooltip="click to show/hide other related structure details">
              <strong>Other Related Structure Details</strong>
              <div class="dropdown no-arrow">
                <i class="fas fa-angle-double-down fa-sm fa-fw text-gray-400"></i>
              </div>
            </div>
            <div class="card-body" *ngIf="showRelatedStructure">
              <div class="row">

                <div class="col-lg-12">
                  <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" id="cbSportsEquipment"
                      formControlName="cbSportsEquipment" [(ngModel)]="travelDetails.cbSportsEquipment"
                      (change)="affecting('cbSportsEquipment', 'Sports Equipment Checkbox')"
                      [attr.disabled]="editMode ? null : true"> -->
                    <label class="form-check-label" for="cbSportsEquipment">
                      will bring sports equipment?
                    </label>
                  </div>
                  <!-- <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['sportsEquipment'].invalid 
                    && (quoteForm.controls['sportsEquipment'].dirty 
                    || quoteForm.controls['sportsEquipment'].touched)}">
                    <textarea class="form-control required"
                      [attr.disabled]="editMode && travelDetails.cbSportsEquipment ? null : ''" type="text"
                      id="sportsEquipment" formControlName="sportsEquipment"
                      oninput="this.value = this.value.toUpperCase()"
                      [(ngModel)]="travelDetails.sportsEquipment"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['sportsEquipment'].errors?.required">
                      * please indicate sport equipment/s
                    </p>
                  </div> -->
                </div>

              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header d-flex justify-content-between optional"
              (click)="showRelatedContent = !showRelatedContent"
              matTooltip="click to show/hide other related content details">
              <strong>Other Related Content Details</strong>
              <div class="dropdown no-arrow">
                <i class="fas fa-angle-double-down fa-sm fa-fw text-gray-400"></i>
              </div>
            </div>
            <div class="card-body" *ngIf="showRelatedContent">
              <div class="row">

                <div class="col-lg-12">
                  <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" id="cbSportsEquipment"
                      formControlName="cbSportsEquipment" [(ngModel)]="travelDetails.cbSportsEquipment"
                      (change)="affecting('cbSportsEquipment', 'Sports Equipment Checkbox')"
                      [attr.disabled]="editMode ? null : true"> -->
                    <label class="form-check-label" for="cbSportsEquipment">
                      will bring sports equipment?
                    </label>
                  </div>
                  <!-- <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['sportsEquipment'].invalid 
                    && (quoteForm.controls['sportsEquipment'].dirty 
                    || quoteForm.controls['sportsEquipment'].touched)}">
                    <textarea class="form-control required"
                      [attr.disabled]="editMode && travelDetails.cbSportsEquipment ? null : ''" type="text"
                      id="sportsEquipment" formControlName="sportsEquipment"
                      oninput="this.value = this.value.toUpperCase()"
                      [(ngModel)]="travelDetails.sportsEquipment"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['sportsEquipment'].errors?.required">
                      * please indicate sport equipment/s
                    </p>
                  </div> -->
                </div>

              </div>
            </div>
          </div>

          <app-group-policy #appGroupPolicy
            [subline]="homeDetails.subline"
            [prevDetails]="prevHomeDetails"
            [groupPolicy]="groupPolicy"
            [editMode]="editMode"
            [showExpiring]="false"
            [(changedValues)]="changedValues"
            [loadQuotation]="triggerCounter">
          </app-group-policy>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>General Information</strong>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Movement Dates</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['effectivityDate'].invalid 
                    && (quoteForm.controls['effectivityDate'].dirty 
                    || quoteForm.controls['effectivityDate'].touched)}">
                    <label for="effectivityDate">Effectivity Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required"
                      (bsValueChange)="effectivityDateOnChange(); affecting('effectivityDate', 'Effectivity Date')"
                      formControlName="effectivityDate"
                      [(ngModel)]="homeDetails.effectivityDate"
                      [attr.disabled]="editMode ? null : true"
                      bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['effectivityDate'].errors?.required">
                      * effectivity date is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['expiryDate'].invalid 
                    && (quoteForm.controls['expiryDate'].dirty 
                    || quoteForm.controls['expiryDate'].touched)}">
                    <label for="expiryDate">Expiry Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required"
                      [minDate]="expiryDateMinDate"
                      (bsValueChange)="affecting('expiryDate', 'Expirty Date')"
                      formControlName="expiryDate"
                      [(ngModel)]="homeDetails.expiryDate"
                      [attr.disabled]="editMode ? null : true"
                      bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['expiryDate'].errors?.required">
                      * expiry date is required
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <app-policy-holder #appPolicyHolder
            [title]="'Policy Holder Information'"
            [showCreateBtn]="true"
            [details]="homeDetails"
            [(policyHolder)]="policyHolder"
            [isIssuance]="isIssuance"
            [editMode]="editMode"
            [type]="'primary'"
            [optional]="false"
            [loadQuotation]="triggerCounter">
          </app-policy-holder>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Product</strong>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Product Data</h6>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['paymentMethod'].invalid 
                    && (quoteForm.controls['paymentMethod'].dirty 
                    || quoteForm.controls['paymentMethod'].touched)}">
                    <label for="paymentMethod">Payment Method</label>
                    <select class="custom-select mr-sm-2 required" formControlName="paymentMethod"
                      [(ngModel)]="homeDetails.paymentMethod"
                      [attr.disabled]="editMode && LOV.paymentMethodLOV?.length ? null : true">
                      <option *ngFor="let paymentMethod of LOV.paymentMethodLOV" [ngValue]="paymentMethod.COD_FRACC_PAGO">
                        {{ paymentMethod.NOM_FRACC_PAGO }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['paymentMethod'].errors?.required">
                      * payment method is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['productList'].invalid 
                    && (quoteForm.controls['productList'].dirty 
                    || quoteForm.controls['productList'].touched)}">
                    <label for="productList">Product List</label>
                    <select class="custom-select mr-sm-2 required" formControlName="productList"
                      [(ngModel)]="homeDetails.productList"
                      [attr.disabled]="editMode && LOV.productListLOV?.length ? null : true">
                      <option *ngFor="let product of LOV.productListLOV" [ngValue]="product.COD_MODALIDAD">{{ product.NOM_MODALIDAD }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['productList'].errors?.required">
                      * product list is required
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="btn-group" role="group">
            <button [disabled]="quoteForm.pristine || quoteForm.invalid" type="button" class="btn btn-primary"
              (click)="issueQuote(homeDetails, groupPolicy)">Issue Qoute</button>
          </div>

        </form>
        <!-- .regular-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quotationHome -->
