<div class="row" id="policyActiveList">
  <div class="col-xl-12">
    <div class="page-header">
      <h4>Active Policies</h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">

        <div class="col-lg-12">

          <div class="card-body">
            <form [formGroup]="filterForm">
              <div class="row">
                <div class="form-group col-md-6">
                  <div class="row">
                    <label for="policyNumber" class="col-md-12 col-lg-4 col-form-label">Policy Number</label>
                    <div class="col-md-12 col-lg-8">
                      <input type="text" class="form-control" formControlName="policyNumber" id="policyNumber"
                        [(ngModel)]="pageFilter.policyNumber">
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <div class="row">
                    <label for="effectivityDate" class="col-md-12 col-lg-4 col-form-label">Effectivity Date</label>
                    <div class="col-md-12 col-lg-8">
                      <input type="text" placeholder="Datepicker" class="form-control" [maxDate]="today"
                        formControlName="effectivityDate" [(ngModel)]="pageFilter.effectivityDate" bsDatepicker>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <div class="row">
                    <label for="dueDate" class="col-md-12 col-lg-4 col-form-label">Due Date</label>
                    <div class="col-md-12 col-lg-8">
                      <input type="text" placeholder="Datepicker" class="form-control" formControlName="dueDate"
                        [(ngModel)]="pageFilter.dueDate" bsDatepicker>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <div class="row">
                    <label for="line" class="col-md-12 col-lg-4 col-form-label">Line</label>
                    <div class="col-md-12 col-lg-8">
                      <input type="text" class="form-control" formControlName="line" id="line"
                        [(ngModel)]="pageFilter.line">
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <div class="row">
                    <label for="policyHolder" class="col-md-12 col-lg-4 col-form-label">Policy Holder</label>
                    <div class="col-md-12 col-lg-8">
                      <input type="text" class="form-control" formControlName="policyHolder" id="policyHolder"
                        [(ngModel)]="pageFilter.policyHolder">
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <div class="row">
                    <label for="documentType" class="col-md-12 col-lg-4 col-form-label">Document Type</label>
                    <div class="col-md-12 col-lg-8">
                      <select class="custom-select mr-sm-2" formControlName="documentType" id="documentType"
                        [(ngModel)]="pageFilter.documentType">
                        <option></option>
                        <option *ngFor="let item of documentTypeItems" [ngValue]="item.TIP_DOCUM">{{ item.NOM_DOCUM }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <div class="row">
                    <label for="documentCode" class="col-md-12 col-lg-4 col-form-label">Document Code</label>
                    <div class="col-md-12 col-lg-8">
                      <input type="text" class="form-control" formControlName="documentCode" id="documentCode"
                        [(ngModel)]="pageFilter.documentCode">
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-6">
                  <div class="row">
                    <label for="source" class="col-md-12 col-lg-4 col-form-label">Source</label>
                    <div class="col-md-12 col-lg-8">
                      <select class="custom-select mr-sm-2" formControlName="source" id="source"
                        [(ngModel)]="pageFilter.source">
                        <option></option>
                        <option *ngFor="let item of sourceItems" [ngValue]="item">{{ item }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="btn-group">
                    <button class="btn btn-primary" (click)="apply()">Apply</button>
                    <button class="btn btn-info" (click)="reset()">Reset</button>
                  </div>
                </div>
              </div>

            </form>


          </div>

          <div class="clearfix"></div>
          <div class="divider"></div>

          <div class="flexitable">

            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)"
              class="mat-elevation-z8">
              <ng-container matColumnDef="policyNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Policy Number </th>
                <td mat-cell *matCellDef="let element"> {{element.policyNumber}} </td>
              </ng-container>

              <ng-container matColumnDef="policyEffectivityDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="expand-column-100"> Effectivity Date </th>
                <td mat-cell *matCellDef="let element"> {{element.policyEffectivityDate}} </td>
              </ng-container>

              <ng-container matColumnDef="policyDueDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="expand-column-100"> Due Date </th>
                <td mat-cell *matCellDef="let element"> {{element.policyDueDate}} </td>
              </ng-container>

              <ng-container matColumnDef="line">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Line </th>
                <td mat-cell *matCellDef="let element"> {{element.line}} </td>
              </ng-container>

              <ng-container matColumnDef="policyHolder">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="expand-column-220"> Policy Holder </th>
                <td mat-cell *matCellDef="let element"> {{element.policyHolder}} </td>
              </ng-container>

              <ng-container matColumnDef="documentType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="expand-column-100"> Document Type </th>
                <td mat-cell *matCellDef="let element"> {{element.documentType}} </td>
              </ng-container>

              <ng-container matColumnDef="documentCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="expand-column-150"> Document Code </th>
                <td mat-cell *matCellDef="let element"> {{element.documentCode}} </td>
              </ng-container>

              <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
                <td mat-cell *matCellDef="let element"> {{element.source}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getDetails(row)"></tr>

            </table>
          </div>

          <div *ngIf="dataSource.filteredData.length === 0" class="no-data-found">No Data Found</div>

          <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [length]="totalItem" [pageIndex]="currentPage"
            [pageSize]="pageSize" showFirstLastButtons (page)="pageChange($event)"></mat-paginator>

        </div>
        <!-- .col-lg-12 -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #policyActiveList -->