<div id="termsAndCondition">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <div class="wrap">
            <div class="row">

              <div class="col-lg-4 menu">
                <a class="brand-logo" (click)="redirect()">
                    <img src="./assets/images/mivo-logo/mivo-logo-light.png" alt="brand-logo" />
                </a>

                <ul class="terms-menu">
                  <li (click)="scrollTo('cancellation')">
                    CANCELLATION AND REFUND
                  </li>
                  <li (click)="scrollTo('security')">
                    SECURITY CAPABILITIES & POLICY FOR TRANSMISSION OF PAYMENT
                  </li>
                  <li (click)="scrollTo('copyright')">
                    COPYRIGHT
                  </li>
                  <li (click)="scrollTo('disclaimer')">
                    DISCLAIMER
                  </li>
                  <li (click)="scrollTo('jurisdiction')">
                    JURISDICTION
                  </li>
                </ul>
              </div>
              <!-- .col-lg-4 -->

              <div class="col-lg-8 details">

                <div class="scroll">
                  <div class="scroll-wrapper">
                    <h2>
                      TERMS AND CONDITIONS
                    </h2>

                    <div id="cancellation" class="top-20">
                      <h5>
                        CANCELLATION AND REFUND
                      </h5>
                      <div class="terms">
                        <p>
                          For policy cancellation and refund, Terms and Conditions of Mapfre Insurance Corporation shall apply.
                        </p>
                      </div>
                    </div>

                    <div id="security" class="top-20">
                      <h5>
                        SECURITY CAPABILITIES & POLICY FOR TRANSMISSION OF PAYMENT
                      </h5>
                      <div class="terms">
                        <ol>
                          <li>
                            What information do we collect and how do we use it? When you make credit card transaction through
                            this website, we need your personal information such as (e.g. name, e-mail, phone number, address,
                            and etc). This allows us to process and fulfill your transaction successfully. It also helps us in
                            maintaining your account.
                          </li>
                          <li>
                            How does MAPFRE Insurance protect customer information? When you make transaction, we use a secure
                            server. The secure server software (SSL) encrypts all information you input before it is sent to
                            us. Furthermore, all of the sensitive customer data we collect is protected by several layers of
                            encryption and several layers of security to prevent unauthorized access.
                          </li>
                          <li>
                            Credit Card Details All credit card payments are processed securely through Paynamics. MAPFRE
                            Insurance does not store any credit card information on our servers.
                          </li>
                        </ol>
                      </div>
                    </div>

                    <div id="copyright" class="top-20">
                      <h5>
                        COPYRIGHT
                      </h5>
                      <div class="terms">
                        <p>All contents included in this site, such as text, graphics, logos, button icons, images, audio
                          clips and software are property of mapfre.com.ph or its content suppliers and protected by
                          Philippine and International copyright laws. The compilation of all contents on this site is the
                          exclusive property of mapfre.com.ph and protected by Philippine and International copyright laws.
                          The reproduction, distribution, transmission, republication or display of the content in this
                          website without consent from mapfre.com.ph is strictly prohibited.</p>
                      </div>
                    </div>

                    <div id="disclaimer" class="top-20">
                      <h5>
                        DISCLAIMER
                      </h5>
                      <div class="terms">
                        <p>This website and the information, services, products and materials available through it are
                          provided "as is" basis, without warranty of any kind, either express or implied, to the extent
                          permitted under any applicable law, including without limitation, implied warranties or
                          conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual
                          property or other violation of rights, Further Mapfre.com.ph does not warrant or make any representations
                          concerning the accuracy, likely results or reliability of the use of the materials on its Internet
                          web or otherwise relating to such materials or on any sites linked to this site.</p>
                      </div>
                    </div>

                    <div id="jurisdiction" class="top-20">
                      <h5>
                        JURISDICTION
                      </h5>
                      <div class="terms">
                        <p>
                          For products and services only available for purchase in the Philippines, these terms and conditions
                          shall be governed by and construed in accordance with Philippine Law. Disputes arising between you
                          and Mapfre.com.ph shall be subject to the exclusive jurisdiction of the courts of the
                          Philippines.
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- .scroll -->

              </div>
              <!-- .col-lg-8 -->

            </div>
            <!-- .row -->
          </div>
          <!-- .wrap -->
        </div>
        <!-- .container -->
      </div>
      <!-- .col-lg-12 -->

      <div class="clearfix"></div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container-fluid -->
</div>
<!-- #termsAndCondition -->