#login,
#login .container-fluid,
#login .row,
#login .row .login-panel {
  height: 100%;
}

#login .left-container img {
  width: 100%;
}

.wrap-banner {
  position: relative;
  top: calc(50% - 100px);
  color: #efefef;
  max-width: 450px;
  position: relative;
  margin: 0 auto;
}

.login-form-title {
  color: #c31f09;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

.wrap-input {
  margin-bottom: 20px;
}

.wrap-login {
  top: calc(50% - 180px);
  width: 80%;
  position: relative;
  margin: 0px auto;
}

.login-logo {
  width: 80%;
  display: block;
  margin: 0 auto 40px;
}

.login-footer {
  position: absolute;
  bottom: 10px;
  margin: 0px auto;
  padding: 0;
  width: 94%;
}

.login-footer ul {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.login-footer ul li {
  display: inline-block;
  margin-left: 15px;
}

.f-password {
  color: #c31f09;
}

.login-version {
  font-size: 11px;
}

#rememberMe {
  margin-right: 5px;
}