<div class="row" id="quotationAccident">
  <div class="col-xl-12">
    <div class="page-header">
      <h4 class="all-caps">
        <span class="fa-stack fa-md">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-shield-alt fa-stack-1x fa-inverse"></i>
        </span>
        {{pageLabel}}
      </h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-lg-12">
    <img class="product-img-banner" src="./assets/images/banner/accident.jpg" alt="credits to freepik @stories" />
  </div>

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="clearfix"></div>
        <form [formGroup]="quoteForm">
          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Business Line</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['subline'].invalid 
                    && (quoteForm.controls['subline'].dirty 
                    || quoteForm.controls['subline'].touched)}">
                    <label for="subline">Subline</label>
                    <select class="custom-select mr-sm-2 required" formControlName="subline"
                      [(ngModel)]="accidentDetails.subline">
                      <option selected></option>
                      <option *ngFor="let subline of LOV.sublineLOV" [ngValue]="subline.COD_RAMO">{{ subline.NOM_RAMO }}
                      </option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['subline'].errors?.required">
                      * subline is required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <app-group-policy #appGroupPolicy
            [subline]="accidentDetails.subline"
            [prevDetails]="prevAccidentDetails"
            [groupPolicy]="groupPolicy"
            [editMode]="editMode"
            [showExpiring]="false"
            [(changedValues)]="changedValues"
            [loadQuotation]="triggerCounter">
          </app-group-policy>

          <app-policy-holder #appPolicyHolder
            [title]="'Policy Holder Information'"
            [showCreateBtn]="true"
            [details]="accidentDetails"
            [(policyHolder)]="policyHolder"
            [isIssuance]="isIssuance"
            [editMode]="editMode"
            [type]="'primary'"
            [optional]="false"
            [loadQuotation]="triggerCounter">
          </app-policy-holder>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Insured Details</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12">
                  <h6>Personal Information</h6>
                </div>

                <div class="col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['firstName'].invalid 
                      && (quoteForm.controls['firstName'].dirty 
                      || quoteForm.controls['firstName'].touched)}">
                    <label for="firstName">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control required"
                      [(ngModel)]="accidentDetails.firstName">
                    <p class="form-error" *ngIf="quoteForm.controls['firstName'].errors?.required">
                      * first name is required
                    </p>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="middleName">Middle Name</label>
                    <input type="text" formControlName="middleName" class="form-control"
                      [(ngModel)]="accidentDetails.middleName">
                  </div>
                </div>

                <div class="col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['lastName'].invalid 
                      && (quoteForm.controls['lastName'].dirty 
                      || quoteForm.controls['lastName'].touched)}">
                    <label for="lastName">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control required"
                      [(ngModel)]="accidentDetails.lastName">
                    <p class="form-error" *ngIf="quoteForm.controls['lastName'].errors?.required">
                      * last name is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group">
                    <label for="commercialStructure">Suffix</label>
                    <select class="custom-select mr-sm-2 required" formControlName="suffix"
                      [(ngModel)]="accidentDetails.suffix">
                      <option></option>
                      <option *ngFor="let suffix of LOV.suffixLOV" [ngValue]="suffix.TIPO_SUFIJO_NOMBRE">{{ suffix.NOM_VALOR }}</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['gender'].invalid 
                      && (quoteForm.controls['gender'].dirty 
                      || quoteForm.controls['gender'].touched)}">
                    <label for="gender">Gender</label>
                    <select class="custom-select mr-sm-2 required" formControlName="gender"
                      [(ngModel)]="accidentDetails.gender">
                      <option></option>
                      <option [ngValue]="1">MALE</option>
                      <option [ngValue]="0">FEMALE</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['gender'].errors?.required">
                      * gender is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['birthDate'].invalid 
                      && (quoteForm.controls['birthDate'].dirty 
                      || quoteForm.controls['birthDate'].touched)}">
                    <label for="birthDate">Birth Date</label>
                    <input type="text" placeholder="Datepicker" class="form-control required" [maxDate]="mindate"
                      formControlName="birthDate" [(ngModel)]="accidentDetails.birthDate" bsDatepicker>
                    <p class="form-error" *ngIf="quoteForm.controls['birthDate'].errors?.required">
                      * birth date is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cbWithHealthDeclaration"
                      formControlName="cbWithHealthDeclaration" [(ngModel)]="accidentDetails.cbWithHealthDeclaration">
                    <label class="form-check-label" for="cbWithHealthDeclaration">
                      With Health Declaration
                    </label>
                  </div>
                  <label class="form-check-label" for="cbWithHealthDeclaration">
                    Declare Pre-existing Illness
                  </label>
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['preExistingIllness'].invalid 
                      && (quoteForm.controls['preExistingIllness'].dirty 
                      || quoteForm.controls['preExistingIllness'].touched)}">
                    <textarea class="form-control required"
                      [attr.disabled]="accidentDetails.cbWithHealthDeclaration ? null : ''" type="text"
                      id="preExistingIllness" formControlName="preExistingIllness"
                      [(ngModel)]="accidentDetails.preExistingIllness"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['preExistingIllness'].errors?.required">
                      * please indicate pre-existing illness
                    </p>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['occupationalClass'].invalid 
                      && (quoteForm.controls['occupationalClass'].dirty 
                      || quoteForm.controls['occupationalClass'].touched)}">
                    <label for="occupationalClass">Occupational Class</label>
                    <select class="custom-select mr-sm-2 required" formControlName="occupationalClass"
                      (change)="occupationalClassOnchange()"
                      [(ngModel)]="accidentDetails.occupationalClass"
                      [attr.disabled]="LOV.occupationalClassLOV?.length ? null : true">
                      <option></option>
                      <option *ngFor="let occupationalClass of LOV.occupationalClassLOV"
                        [ngValue]="occupationalClass.COD_VALOR">CLASS {{ occupationalClass.COD_VALOR }} - {{ occupationalClass.NOM_VALOR }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['occupationalClass'].errors?.required">
                      * occupational class is required
                    </p>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['occupation'].invalid 
                      && (quoteForm.controls['occupation'].dirty 
                      || quoteForm.controls['occupation'].touched)}">
                    <label for="occupation">Occupation</label>
                    <select class="custom-select mr-sm-2 required" formControlName="occupation"
                      (change)="occupationOnchange()"
                      [(ngModel)]="accidentDetails.occupation"
                      [attr.disabled]="LOV.occupationLOV?.length ? null : true">
                      <option></option>
                      <option *ngFor="let occupation of LOV.occupationLOV" [ngValue]="occupation.COD_VALOR">
                        {{ occupation.NOM_VALOR }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['occupation'].errors?.required">
                      * occupation is required
                    </p>
                  </div>
                </div>

                <div class="col-lg-12" *ngIf="showOtherOccupation">
                  <label class="form-check-label" for="occupation">
                    Declare Other Occupation
                  </label>
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['otherOccupation'].invalid 
                      && (quoteForm.controls['otherOccupation'].dirty 
                      || quoteForm.controls['otherOccupation'].touched)}">
                    <textarea class="form-control required" type="text"
                      id="otherOccupation" formControlName="otherOccupation"
                      [(ngModel)]="accidentDetails.otherOccupation"></textarea>
                    <p class="form-error" *ngIf="quoteForm.controls['otherOccupation'].errors?.required">
                      * please indicate other occupation
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="card shadow mb-3" *ngIf="showSPADetails">
            <div class="card-header">
              <strong>Accidental Death / Disablement Detail</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['disablementValue'].invalid 
                        && (quoteForm.controls['disablementValue'].dirty 
                        || quoteForm.controls['disablementValue'].touched)}">
                    <label for="disablementValue">Accidental Death and Disablement Value</label>
                    <input type="number" formControlName="disablementValue" class="form-control required"
                        [(ngModel)]="accidentDetails.disablementValue">
                    <p class="form-error" *ngIf="quoteForm.controls['disablementValue'].errors?.required">
                      * accidental death and disablement value is required
                    </p>
                    <p class="form-error" *ngIf="quoteForm.controls['disablementValue'].errors?.max">
                      * accidental death and disablement value must be lower than Php2,000,001.00
                    </p>
                    <p class="form-error" *ngIf="quoteForm.controls['disablementValue'].errors?.min">
                      * accidental death and disablement value must be higner than Php9,999.00
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card shadow mb-3">
            <div class="card-header">
              <strong>Product</strong>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="form-group" [ngClass]="{'input-error': quoteForm.controls['product'].invalid 
                    && (quoteForm.controls['product'].dirty 
                    || quoteForm.controls['product'].touched)}">
                    <label for="product">Product List</label>
                    <select class="custom-select mr-sm-2 required" formControlName="product"
                      [(ngModel)]="accidentDetails.product"
                      [attr.disabled]="LOV.productListLOV?.length ? null : true">
                      <option selected></option>
                      <option *ngFor="let product of LOV.productListLOV" [ngValue]="product.COD_MODALIDAD">
                        {{ product.NOM_MODALIDAD }}</option>
                    </select>
                    <p class="form-error" *ngIf="quoteForm.controls['product'].errors?.required">
                      * product list is required
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="btn-group" role="group">
            <button [disabled]="quoteForm.pristine || quoteForm.invalid" type="button" class="btn btn-primary"
              (click)="issueQuote(accidentDetails, groupPolicy)">Issue
              Qoute</button>
            <button [disabled]="true" type="button" class="btn btn-primary">Print Qoute</button>
            <button [disabled]="true" type="button" class="btn btn-primary">Proceed to Issuance</button>
          </div>
          <!-- .btn-group -->
          <div class="clearfix"></div>
        </form>
        <!-- .quick-quote-form -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->
  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #quotationAccident -->
