<div class="row" id="tutorial">
  <div class="col-xl-12">
    <div class="page-header">
      <h4 class="all-caps">
        <span class="fa-stack fa-md">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-info fa-stack-1x fa-inverse tutorial"></i>
        </span>
        Tutorial
      </h4>
    </div>
    <!-- .page-header -->
  </div>
  <!-- .col-xl-12 -->

  <div class="col-xl-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="col-md-12">
          <h4>Home</h4>

          <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
              <h5><i class="fa fa-play fa-lg"></i> Quick Quote</h5>
              <p>Step by step tutorial to complete a Home quick quotation.</p>
              <a target="_blank" href="//www.iorad.com/player/1785765/Home-Quick-Quote" class="icon-link">
                open tutorial <i class="fa fa-chevron-right"></i>
              </a>
            </div>
            <div class="feature col">
              <h5><i class="fa fa-play fa-lg"></i> Policy Issuance</h5>
              <p>Step by step tutorial to issue Home Policy</p>
              <a target="_blank" href="//www.iorad.com/player/1803211/Home-Policy-Issuance" class="icon-link">
                open tutorial <i class="fa fa-chevron-right"></i>
              </a>
            </div>
            <div class="feature col">
              <h5><i class="fa fa-bell fa-lg"></i> Quotation issue with Request for Approval</h5>
              <p>Step by step tutorial to request approval of Home Policy/Quotation</p>
              <a target="_blank" href="/www.iorad.com/player/1803187/Home-Quotation-Issue-With-Request-for-Approval"
                class="icon-link">
                open tutorial <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>

        </div>
        <!-- .col-md-12 -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->

    <br />

    <div class="card shadow">
      <div class="card-body">
        <div class="col-md-12">
          <h4>Travel</h4>

          <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
              <h5><i class="fa fa-play fa-lg"></i> Quick Quote</h5>
              <p>Step by step tutorial to complete a Travel quick quotation.</p>
              <a target="_blank" href="//www.iorad.com/player/1786448/Travel-Quick-Quote" class="icon-link">
                open tutorial <i class="fa fa-chevron-right"></i>
              </a>
            </div>
            <div class="feature col">
              <h5><i class="fa fa-play fa-lg"></i> Quotation/Policy Issuance</h5>
              <p>Step by step tutorial to issue Travel Policy or create Quotation</p>
              <a target="_blank" href="//www.iorad.com/player/1787955/Travel-Quotation-Policy-Issuance"
                class="icon-link">
                open tutorial <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>

        </div>
        <!-- .col-md-12 -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->

    <br />

    <div class="card shadow">
      <div class="card-body">
        <div class="col-md-12">
          <h4>Accident</h4>

          <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
              <h5><i class="fa fa-play fa-lg"></i> Quotation</h5>
              <p>Step by step tutorial to create Accident Quotation</p>
              <a target="_blank" href="//www.iorad.com/player/1789305/Regular-Quote-Personal-Accident"
                class="icon-link">
                open tutorial <i class="fa fa-chevron-right"></i>
              </a>
            </div>
            <div class="feature col">
              <h5><i class="fa fa-play fa-lg"></i> Policy Issuance</h5>
              <p>Step by step tutorial to issue Accident Policy</p>
              <a target="_blank" href="//www.iorad.com/player/1789281/Issue-Policy-Personal-Accident" class="icon-link">
                open tutorial <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>

        </div>
        <!-- .col-md-12 -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->

    <br />

    <div class="card shadow">
      <div class="card-body">
        <div class="col-md-12">
          <h4>Request</h4>

          <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
              <h5><i class="fa fa-bell fa-lg"></i> Underwriting</h5>
              <p>tutorial to request for Underwriting</p>
              <a target="_blank" href="//www.iorad.com/player/1800824/Request-for-Underwriting" class="icon-link">
                open tutorial <i class="fa fa-chevron-right"></i>
              </a>
            </div>
            <div class="feature col">
              <h5><i class="fa fa-bell fa-lg"></i> Endorsement</h5>
              <p>tutorial to request for Endorsement</p>
              <a target="_blank" href="//www.iorad.com/player/1800821/Request-for-Endorsement" class="icon-link">
                open tutorial <i class="fa fa-chevron-right"></i>
              </a>
            </div>
            <div class="feature col">
              <h5><i class="fa fa-bell fa-lg"></i> Renewal</h5>
              <p>tutorial to request for Renewal</p>
              <a target="_blank" href="//www.iorad.com/player/1800850/Request-for-Renewal" class="icon-link">
                open tutorial <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>

        </div>
        <!-- .col-md-12 -->
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card.shadow -->

  </div>
  <!-- .col-xl-12 -->
</div>
<!-- #tutorial -->