  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-sidenav [ngClass]="{'staging': isStaging}"></app-sidenav>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Header -->
        <app-header></app-header>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <app-dashboard *ngIf="page === p.DAS.N"></app-dashboard>

          <app-profile *ngIf="page === p.UTI.CHA"></app-profile>

          <app-account-outstanding-bills-list *ngIf="page === p.ACC.OUT"></app-account-outstanding-bills-list>
          <app-account-commissions-paid-list *ngIf="page === p.ACC.COM"></app-account-commissions-paid-list>
          <app-account-estimated-commissions-list *ngIf="page === p.ACC.EST"></app-account-estimated-commissions-list>
          <app-account-premium-collection-list *ngIf="page === p.ACC.PRE"></app-account-premium-collection-list>

          <app-client-details-list *ngIf="page === p.CLI.CLI"></app-client-details-list>
          <app-client-policy-active-list *ngIf="page === p.CLI.ACT"></app-client-policy-active-list>
          <app-client-policy-cancelled-list *ngIf="page === p.CLI.CAN"></app-client-policy-cancelled-list>
          <app-client-policy-renewed-list *ngIf="page === p.CLI.REN"></app-client-policy-renewed-list>
          <app-client-policy-not-renewed-list *ngIf="page === p.CLI.NOT"></app-client-policy-not-renewed-list>
          <app-client-policy-expiring-list *ngIf="page === p.CLI.EXP"></app-client-policy-expiring-list>
          <app-client-policy-provisional-list *ngIf="page === p.CLI.PRO"></app-client-policy-provisional-list>
          <app-client-quotation-active-list *ngIf="page === p.CLI.ACTQ"></app-client-quotation-active-list>
          <app-client-quotation-provisional-list *ngIf="page === p.CLI.PROQ"></app-client-quotation-provisional-list>
          <app-client-claims-list *ngIf="page === p.CLI.CLA"></app-client-claims-list>

          <app-quick-quotation-car *ngIf="page === p.QUI.CAR"></app-quick-quotation-car>
          <app-quick-quotation-home *ngIf="page === p.QUI.HOM"></app-quick-quotation-home>
          <app-quick-quotation-travel *ngIf="page === p.QUI.TRA"></app-quick-quotation-travel>
          <app-quick-quotation-accident *ngIf="page === p.QUI.ACC"></app-quick-quotation-accident>

          <app-quotation-car *ngIf="page === p.QUO.CAR"></app-quotation-car>
          <app-quotation-home *ngIf="page === p.QUO.HOM"></app-quotation-home>
          <app-quotation-travel *ngIf="page === p.QUO.TRA"></app-quotation-travel>
          <app-quotation-accident *ngIf="page === p.QUO.ACC"></app-quotation-accident>

          <app-quotation-car *ngIf="page === p.ISS.CAR"></app-quotation-car>
          <app-quotation-home *ngIf="page === p.ISS.HOM"></app-quotation-home>
          <app-quotation-travel *ngIf="page === p.ISS.TRA"></app-quotation-travel>
          <app-quotation-accident *ngIf="page === p.ISS.ACC"></app-quotation-accident>

          <app-request-list *ngIf="page === p.REQ.LIS"></app-request-list>
          <app-request-create *ngIf="page === p.REQ.CRE"></app-request-create>
          
          <app-query *ngIf="page === p.UTI.QUE"></app-query>
          <app-document-printing *ngIf="page === p.UTI.DOC"></app-document-printing>

          <app-missing-page *ngIf="page === p.NEW.N"></app-missing-page>

          <app-faq *ngIf="page === p.FAQ.N"></app-faq>
        </div>
        <!-- End Page Content -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <app-footer></app-footer>

    </div>
    <!-- End of Content Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </div>
  <!-- End of Page Wrapper -->
