<h2 mat-dialog-title>View Details</h2>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5>Details</h5>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.name}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="documentType">Document Type</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.documentType}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="documentCode">Document Code</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.documentCode}}>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.address}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="homeTelNumber">Home Tel. No.</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.homeTelNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="BusinessTelNumber">Business Tel. No.</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.BusinessTelNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="mobileNumber">Mobile Number</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.mobileNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.email}}>
        </div>
      </div>

      <div class="clearfix"></div>

    </div>
  </div>
</div>

<div mat-dialog-actions align="end">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" (click)="close()">
      Close
    </button>
  </div>
</div>