<h2 mat-dialog-title>View Details</h2>
<div mat-dialog-content>
  <div class="container">

    <div *ngIf="type == 'client-details'" class="row">
      <div class="col-md-12">
        <h5>Client Details</h5>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.name}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.email}}>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.address}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="documentType">Document Type</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.documentType}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="documentCode">Document Code</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.documentCode}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="homeTelNumber">Home Tel. No.</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.homeTelNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="BusinessTelNumber">Business Tel. No.</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listClientDetails.businessTelNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="mobileNumber">Mobile Number</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listClientDetails.mobileNumber}}>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div *ngIf="type == 'client-active'" class="row">
      <div class="col-md-12">
        <h5>Active Policy Details</h5>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyNumber">Policy Number</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyActive.policyNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyEffectivityDate">Effectivity Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyActive.policyEffectivityDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyDueDate">Due Date</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyActive.policyDueDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="line">Line</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyActive.line}}>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="policyHolder">Policy Holder</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyActive.policyHolder}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="documentType">Document Type</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyActive.documentType}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="documentCode">Document Code</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyActive.documentCode}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="source">Source</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyActive.source}}>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div *ngIf="type == 'client-cancelled'" class="row">
      <div class="col-md-12">
        <h5>Cancelled Policy Details</h5>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyNumber">Policy Number</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyCancelled.policyNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyEffectivityDate">Effectivity Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyCancelled.policyEffectivityDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="line">Line</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyCancelled.line}}>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="policyHolder">Policy Holder</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyCancelled.policyHolder}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="source">Source</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyCancelled.source}}>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div *ngIf="type == 'client-renewed'" class="row">
      <div class="col-md-12">
        <h5>Renewed Policy Details</h5>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyNumber">Policy Number</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyRenewed.policyNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyEffectivityDate">Effectivity Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyRenewed.policyEffectivityDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyDueDate">Due Date</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyRenewed.policyDueDate}}>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="policyHolder">Policy Holder</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyRenewed.policyHolder}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="documentType">Document Type</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyRenewed.documentType}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="documentCode">Document Code</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyRenewed.documentCode}}>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div *ngIf="type == 'client-not-renewed'" class="row">
      <div class="col-md-12">
        <h5>Not Renewed Policy Details</h5>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyNumber">Policy Number</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyNotRenewed.policyNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyEffectivityDate">Effectivity Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyNotRenewed.policyEffectivityDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyDueDate">Due Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyNotRenewed.policyDueDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="line">Line</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyNotRenewed.line}}>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="policyHolder">Policy Holder</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyNotRenewed.policyHolder}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="source">Source</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyNotRenewed.source}}>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div *ngIf="type == 'client-expiring'" class="row">
      <div class="col-md-12">
        <h5>Expiring Policy Details</h5>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyNumber">Policy Number</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyExpiring.policyNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyEffectivityDate">Effectivity Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyExpiring.policyEffectivityDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyExpiryDate">Expirty Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyExpiring.policyExpiryDate}}>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="policyHolder">Policy Holder</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyExpiring.policyHolder}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyExpiring.email}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="telephoneNumber">Telephone Number</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyExpiring.telephoneNumber}}>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div *ngIf="type == 'client-provisional'" class="row">
      <div class="col-md-12">
        <h5>Provisional Policy Details</h5>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyNumber">Policy Number</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyProvisional.policyNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyEffectivityDate">Effectivity Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyProvisional.policyEffectivityDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyDueDate">Due Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyProvisional.policyDueDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="line">Line</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyProvisional.line}}>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="policyHolder">Policy Holder</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listPolicyProvisional.policyHolder}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="source">Source</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listPolicyProvisional.source}}>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div *ngIf="type == 'client-active-quotation'" class="row">
      <div class="col-md-12">
        <h5>Active Quotation Details</h5>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="quotationNumber">Quotation Number</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listQuotationActive.quotationNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyEffectivityDate">Effectivity Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listQuotationActive.policyEffectivityDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyDueDate">Due Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listQuotationActive.policyDueDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="line">Line</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listQuotationActive.line}}>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="policyHolder">Policy Holder</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listQuotationActive.policyHolder}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="source">Source</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listQuotationActive.source}}>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <div *ngIf="type == 'client-provisional-quotation'" class="row">
      <div class="col-md-12">
        <h5>Provisional Quotation Details</h5>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="quotationNumber">Quotation Number</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listQuotationProvisional.quotationNumber}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyEffectivityDate">Effectivity Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listQuotationProvisional.policyEffectivityDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="policyDueDate">Due Date</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listQuotationProvisional.policyDueDate}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="line">Line</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listQuotationProvisional.line}}>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
          <label for="policyHolder">Policy Holder</label>
          <input type="text" class="form-control required" [readOnly]="true"
            value={{listQuotationProvisional.policyHolder}}>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label for="source">Source</label>
          <input type="text" class="form-control required" [readOnly]="true" value={{listQuotationProvisional.source}}>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

  </div>
  <!-- .container -->
</div>
<!-- mat-dialog-content -->

<div mat-dialog-actions align="end">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" (click)="close()">
      Close
    </button>
  </div>
</div>